
body{
  font-family: "Signika", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;

}

.top-header{
  display: none;
}

.main-container{
  display: relative;
  /*Modificar al finalizar pagina*/
  height: 2000px;
  /*Modificar al finalizar pagina*/
  width: auto;
}

.header{
background-color: rgb(34, 34, 34) ;
display: flex;
align-items: center;
justify-content: space-between;

    .header_menu{
    display: flex;
    padding: 12px;
    width: 120px;
    height: 120px;
    }

    .header_logo{
    font-size: 80px;
    font-weight: 900;
    color: #646464;
    }

    .header_cart{
    padding: 15px;
    }
}

.navbar{
  display: none;
}

.modal-navbar_background{
  display: none;
  background-color: hsl(0, 0%, 0%, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-navbar{
  background-color: white;
  width: 70%;
  height: 100%;

  .modal-navbar_close{
    width: 8%;
    padding-top: 4%;
    padding-left: 4%;
    height: 2.5%;
    width: auto;
  }

    .modal-navbar_items{
    color: #646464;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
    list-style:none;
    padding-top: 10%;
    }

    .navbar_links{
    text-decoration: none;
    color: black;
    font-weight:700;
    font-size:400%;
    padding-left: 10%;
    }

    .modal-navbar_items li{
      margin-left: 5%;
      margin-right: 5%;
      
    }
} 



@media screen and (min-width:1000px){
  .main-container{
    width: 100%;
    margin: auto;

  }

  .top-header{
    display: flex;
    background-color: rgb(22, 22, 22);
  }
  
  .top-header h4{
    color: rgb(228, 20, 41);
    padding-left: 3%;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  
  .header{
    background-color: rgb(34, 34, 34) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  .header_menu{
    display: none;
  }

  .header_logo{
    color: #ffffff;
    font-size: 35px;
    align-items: center;
    font-weight: 900;
    padding-left: 8%;
    }

    .header_cart{
    width: 20px;
    height: auto;
    padding-right:4%;
    padding-top: 1.5%;
    color: #ffffff;
    }

    .mainpart{
      display: none;
    }

    .navbar{
    display: none;
    }

  }
}



