body {
  font-family: "Signika", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  position: relative;
  min-height: 100vh;
  background-color: #000000;
}

.top-header {
  display: none;
}

/* Header */
.header {
  background-color: rgb(116, 116, 116);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_icon{
  display: none;
}

.header_menu {
  display: flex;
  height: 50px;
  padding-left: 1%;
}

.header_logo {
  font-size: 40px;
  font-weight: 400;
  color: #ffffff;
}


.header_cart {
  height: 30px;
  padding: 5px;
  padding-right: 10px;
}

.text {
  display: none;
}

.number {
  display: none;
}

.navbar {
  display: none;
}

/*carrito*/

.header_cart {
  width: 28px;
  height: auto;
  padding-right: 30px;
  padding-top: 5px;
}

.header_cart:hover {
  cursor: pointer;
  scale: 1.2;
}

.container-icon{
  position: relative;
  height: 40px;
}

.count-products{
  position: absolute;
  display: flex;
  background-color: #000000;
  color: #ffffff;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#contador-productos{
  font-size: 13px;
}

.container-cart-products{
  position: absolute;
  top: 50px;
  right: 0;
  background-color: rgb(116, 116, 116);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  width:300px;
  z-index: 1;
}

.row-product{
  max-height: 400px;  /* Ajusta la altura máxima según tus necesidades */
  overflow-y: auto; 
}

.cart-product{
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.info-cart-product{
  display: flex;
  justify-content: space-between;
  flex: 0.5;
}

.titulo-producto-carrito{
  font-size: 20px;
  white-space: nowrap
}

.cantidad-producto-carrito{
  font-weight: 400;
  font-size: 20px;
  padding-right: 40px;
}

.icon-close{
  width: 20px;
  height: 20px;
}

.icon-close:hover{
  background-color: #000000;
  border-radius: 30%;
  cursor: pointer;
}

.cart-total{
  display: flex;
  justify-content: center;
  padding: 15px 5px;
  border-top: 1px solid white;
}

.hidden-cart{
  display: none;
}

.botton-wh{
  color: rgb(0, 0, 0);
  background-color: grey;
  border: 1px solid white;
  border-radius: 10px;
  width: 200px;
  height: 30px;
  font-weight: 600; 
}

.botton-wh:hover{
  cursor: pointer;
  scale: 1.05;
}


/* Fondo modal-navbar */
.modal-navbar_background {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

/* Modal navbar (menú deslizante) */
.modal-navbar {
  background-color: rgb(58,58,58);
  width: 70%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1000;
  transition: left 0.3s ease-in-out;
}

/* Animación para abrir el menú */
.modal-navbar.open {
  left: 0;
}

.modal-navbar_close {
  width: auto;
  height: 3%;
  padding-top: 5%;
  padding-left: 5%;
}

.modal-navbar_items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
  list-style: none;
  padding-top: 10%;
}

.navbar_links {
  text-decoration: none;
  color :#ffffff;
  font-weight: 600;
  font-size: 200%;
  padding-left: 10%;
}

.modal-navbar_items li {
  margin-left: 5%;
  margin-right: 5%;
}

  /*Buscador*/

.header_search{
  display: none;
}

  /*navbar-desk*/

.navbar-desk{
  display: none;
}  

  /*slider*/
.slider-frame {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
}


.slider-frame ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
  width: 100%;
  list-style: none;
}

.slider-frame img {
  width: 100%;
}

@keyframes slide {
  0% {margin-left: 0;}
  20% {margin-left: 0;}
  
  25% {margin-left: -100%;}
  45% {margin-left: -100%;}
  
  50% {margin-left: -200%;}
  70% {margin-left: -200%;}
  
  75% {margin-left: -300%;}
  100% {margin-left: -300%;}
}

/* Mision vision */

.m-v{
  margin-top: -3px;
  padding: 10px;
}


.mision{
  border: solid 1px #ff0000;
  border-radius: 10px;
  color: white;
  text-align: center;
  margin: 2%;
  padding-bottom: 3%;

}

.titulo_mision{
  text-align: center;
  color: #ff0000;
  font-size: 35px;
  padding: 2%;
  
}

.vision{
  border: solid 1px #ff0000;
  border-radius: 10px;
  color: white;
  text-align: center;
  margin: 2%;
  padding-bottom: 3%;
}

.titulo_vision{
  text-align: center;
  color: #ff0000;
  font-size: 35px;
  font-weight: 700;
  padding: 2%;
}

/* Slider productos principales */

.gallery{
  margin: 30px 30px 30px 30px;

}
.gallery__image-container{
  background-image: url(./images/image-product-1.jpg);
  height: 300px;
  width: 100%;
  background-size: cover;
  border: 1px solid red;
  background-position-y: -15px;
  background-position-x: -5px;
  border-radius: 10%;
}

.gallery__image-container:hover{
  cursor: pointer;
}

.gallery__previus{
  background-color: hsl(0, 100%, 50%);
  width: 15px;
  height: 15px;
  padding: 9px;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 2%;
}

.gallery__next{
  background-color: hsl(0, 100%, 50%);
  width: 15px;
  height: 15px;
  padding: 9px;
  border-radius: 50%;
  position: relative;
  top: 50%;
  right: -77%;
}

/* Productos */

.products-container{
  background-color: #000000;
  gap: 30px;
}

.product-content{
  padding: 30px 30px 30px 30px;
}


.product{
  border-radius: 10px;
  border: 1px solid #ff0000;
  margin-bottom: 8%;
  height: auto;
}

.product:hover{
  box-shadow: 0px 1px 20px 0px rgb(255, 0, 0);
}

.product img{
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-image: url(images/Marca.png);
  user-select: none;  
}

.product-txt{
  text-align: center;
  color: white;
}

.product-txt p{
  text-align: center;
  margin-bottom: 40px;
}

.product-txt h3{
  margin-bottom: 10PX;
}
/* Contacto*/

/* Contacto*/

/*footer*/

.footer{
  display: flex;
  background: rgb(116, 116, 116);
}

.icon_footer{
  display: flex;
  width: 35px;
  height: auto;
}

.copyright{
  padding-left: 15px;
  padding-top: 10px;
  justify-content: space-between;
  align-items: center;
}


/* Responsivo 1000*/
@media screen and (min-width: 1000px) {
  .top-header {
    display: flex;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    height: 30px;
  }

  .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .left{
    margin-left: 2%;
  }

  .top_whatsapp img{
    width: 15px;
    height: auto;
  }

  .whatsapp{
    margin-right: 50px;
  }

  .top_call img{
    width: 15px;
    height: auto;
    
  }

  .right{
    margin-right: 2%;
  }

  .top_envios img{
    width: 15px;
    height: auto;
  }
  
  .header {
    background-color: rgb(116, 116, 116);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header_icon{
    display: flex;
    width: 55px;
    height: auto;
    margin: 2.0%;
    margin-top: 4.3%;
  }  

  .header_icon:hover{
    cursor: pointer;
    scale: 1.1;
  }

  .header_menu {
    display: none;
  }

  .header_logo {
    color: #ffffff;
    font-size: 35px;
    font-weight: 900;
  }

  .main_header_cart{
    display: flex;
    margin-top: 2.5%;
    margin-right: 3%;
  }

  .header_cart {
    width: 25px;
    height: auto;
    color: #ff0000;
  }

  .header_cart:hover{
    cursor: pointer;
    scale: 1.1;
  }

  .text{
    display: flex;
    color: #ffffff;
    margin: auto;
    padding: 5%;
  }

  .number{
    display: flex;
    color: #ffffff;
    margin: auto;
  }

  .navbar {
    display: none;
  }

  
/* Buscador */

  .header_search{
  display: flex;
  background-color: rgb(116, 116, 116);
  margin: auto;
  align-items: center;
  }

  .btn-search{
    background-color: #ff0000;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
  }

  .btn-search img{
    width: 30px;
    height: auto;
  }

  .btn-search img:hover{
    scale: 1.1;
  }

  .search-form{
    position: relative;
    display: flex;
    margin: auto;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 2rem;
    background-color: rgb(255, 255, 255);
    height: 4.4rem;
    overflow: hidden;
    width: 30%;
    height: 20%;
    margin-bottom: 0.5%;
  }

  .search-form input {
    outline: none;
    border: none;
    width: 100%;
    font-size: 120%;
    color: #000000;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
  }

  .search-form input::-webkit-search-cancel-button {
    appearance: none;
  }

  .filtro{
    display: none;
  }

  /*navbar-desk*/

  .navbar-desk{
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    padding-right: 400px;
    padding-left: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: inset 0 -5px 10px rgba(255, 0, 0, 0.1); 
  }

  .desk-list{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 3px;
    border-bottom: 2px solid red;
  }

  .desk-list:hover{
    cursor: pointer;
    scale: 1.2;
    color: #ff0000;
    border-bottom: none;
  }

  /*carrito*/

  .header_cart {
    width: 28px;
    height: auto;
    padding-right: 30px;
    padding-top: 20px;
  }

  .header_cart:hover {
    cursor: pointer;
    scale: 1.2;
  }

  .container-icon{
    position: relative;
    height: 40px;
  }

  .count-products{
    position: absolute;
    display: flex;
    background-color: #000000;
    color: #ffffff;
    width: 20px;
    height: 20px;
    top: 100%;
    right: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  
  #contador-productos{
    font-size: 13px;
  }

  .container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;
  
    background-color: #747474;
    width:450px;
    z-index: 1;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    
  }

  .row-product{
    max-height: 400px;  /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto; 
  }

  .cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
  }

  .info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0;
  }

  .titulo-producto-carrito{
    font-size: 18px;
    text-align: center;
    white-space: nowrap
  }

  .cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
    padding-right: 30px;
  }

  .icon-close{
    width: 20px;
    height: 20px;
  }

  .icon-close:hover{
    background-color: #000000;
    border-radius: 30%;
    cursor: pointer;
  }

  .cart-total{
    display: flex;
    justify-content: center;
    padding: 15px 5px;
    border-top: 1px solid white;
  }

  .hidden-cart{
    display: none;
  }

  .botton-wh{
    color: rgb(0, 0, 0);
    background-color: grey;
    border: 1px solid white;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    font-weight: 600; 
    }

  .botton-wh:hover{
    cursor: pointer;
    scale: 1.05;
    }

  /* Mision vision */

  .m-v{
    display: flex;
    background-color: rgb(0, 0, 0);
    margin-top: -3px;
    padding: 0px;
  }

  .mision{
    border: solid 1px #ff0000;
    border-radius: 10px;
    text-align: center;
    margin: 2%;
    padding-bottom: 4%;

  }

  .titulo_mision{
    text-align: center;
    color: #ff0000;
    font-size: 35px;
    padding: 2%;
    
  }

  .vision{
    border:solid 1px #ff0000;
    border-radius: 10px;
    text-align: center;
    margin: 2%;
    padding-bottom: 4%;
  }

  .titulo_vision{
    text-align: center;
    color: #ff0000;
    font-size: 35px;
    font-weight: 700;
    padding: 2%;
  }
  /* Slider productos principales */
  
  .gallery{
  display: none;
  }

  /*Productos */

  .product-content{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    align-items: center;
    margin: auto;
    width: 70%;
  }

  .product{
    height: 100%;
  }

  .product img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    padding-left: 0%;
    padding-right: 0%;
  }

  .product-txt{
    margin-bottom: 0px;
  }

  .product-txt p{
    font-size: 15PX;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 0px;
  }

  .product-txt h3{
    font-size: 130%;
    margin-bottom: 10px;
  }

  .cart-pedido{
    width: 20px;
  }
  
  /* Contacto*/

  /* Contacto*/

  
}



