/* Estilos generales del body */
body {
  font-family: "Signika", sans-serif;  /* Establece la tipografía principal */
  font-optical-sizing: auto;  /* Ajusta automáticamente el tamaño óptico de la fuente */
  font-weight: normal;  /* Establece el peso de la fuente */
  font-style: normal;  /* Establece el estilo de la fuente */
  position: relative;  /* Posicionamiento relativo para elementos hijos */
  min-height: 100vh;  /* Asegura que el body cubra toda la altura de la pantalla */
  background-color: black;  /* Fondo negro */
}

/* Header - Cabecera */
.top-header {
  display: none;  /* Oculta el encabezado superior */
}

/* Header */

.header {
  background-color: rgb(116, 116, 116);  /* Color de fondo gris */
  height: 50px;  /* Altura del header */
  display: flex;  /* Utiliza Flexbox para disposición */
  align-items: center;  /* Alinea los elementos verticalmente */
  justify-content: space-between;  /* Distribuye los elementos de forma equidistante */
}

/* Iconos y menú del header */
.header_icon {
  display: none;  /* Oculta el icono */
}

.header_menu {
  display: flex;  /* Disposición en línea */
  height: 50px;  /* Altura del menú */
  padding-left: 1%;  /* Espaciado izquierdo */
}

.header_logo {
  font-size: 40px;  /* Tamaño de la fuente */
  font-weight: 400;  /* Peso de la fuente */
  color: #ffffff;  /* Color blanco para el logo */
}

.header_cart {
  height: 30px;  /* Altura del carrito */
  padding: 5px;  /* Espaciado */
  padding-right: 10px;  /* Espaciado derecho */
}

/* Navbar - Barra de navegación */
.text {
  display: none;
}

.number {
  display: none;
}

.navbar {
  display: none;  /* Oculta la barra de navegación */
}

/* Fondo modal-navbar (fondo del menú deslizante) */
.modal-navbar_background {
  display: none;  /* Inicialmente oculto */
  background-color: rgba(0, 0, 0, 0.5);  /* Fondo semi-transparente */
  position: fixed;  /* Posición fija */
  top: 0;
  left: 0;
  width: 100%;  /* Ancho completo */
  height: 100%;  /* Altura completa */
  z-index: 999;  /* Z-index para asegurar que se muestre sobre otros elementos */
}

/* Modal navbar (menú deslizante) */
.modal-navbar {
  background-color: rgb(58,58,58);  /* Color de fondo del menú */
  width: 70%;  /* Ancho del menú */
  height: 100%;  /* Altura completa */
  position: fixed;  /* Posición fija */
  top: 0;
  left: -100%;  /* Inicialmente fuera de la pantalla */
  z-index: 1000;  /* Z-index para que se muestre sobre el fondo */
  transition: left 0.3s ease-in-out;  /* Transición suave para el deslizamiento */
}

/* Cuando se abre el modal-navbar */
.modal-navbar.open {
  left: 0;  /* Mueve el menú a la vista */
}

/* Cierre del modal-navbar */
.modal-navbar_close {
  width: auto;
  height: 3%;
  padding-top: 5%;
  padding-left: 5%;
}

/* Elementos dentro del modal-navbar */
.modal-navbar_items {
  display: flex;
  flex-direction: column;  /* Disposición vertical */
  justify-content: space-between;
  height: 30%;
  list-style: none;  /* Elimina los puntos de la lista */
  padding-top: 10%;
}

.navbar_links {
  text-decoration: none;  /* Elimina el subrayado */
  color: #ffffff;  /* Color blanco para los enlaces */
  font-weight: 600;  /* Peso de la fuente */
  font-size: 200%;  /* Tamaño de la fuente */
  padding-left: 10%;  /* Espaciado izquierdo */
}

.modal-navbar_items li {
  margin-left: 5%;  /* Espaciado izquierdo */
  margin-right: 5%;  /* Espaciado derecho */
}

/* Buscador */
.header_search {
  display: none;  /* Oculta el buscador */
}

/* Navbar en versión escritorio */
.navbar-desk {
  display: none;  /* Oculta la barra de navegación en escritorio */
}

/* Estilos del carrito */
.header_cart {
  width: 28px;
  height: auto;
  padding-right: 30px;
  padding-top: 5px;
}

.header_cart:hover {
  cursor: pointer;  /* Cambia el cursor a pointer */
  scale: 1.2;  /* Aumenta ligeramente el tamaño al pasar el cursor */
}

/* Contenedor del icono del carrito */
.container-icon {
  position: relative;
  height: 40px;
}

/* Contador de productos en el carrito */
.count-products {
  position: absolute;
  display: flex;
  background-color: #000000;  /* Fondo negro */
  color: #ffffff;  /* Texto blanco */
  width: 20px;
  height: 20px;
  top: 50%;
  right: 20px;  /* Posición del contador a la derecha */
  justify-content: center;
  align-items: center;
  border-radius: 50%;  /* Hace el contador redondeado */
}

#contador-productos {
  font-size: 13px;  /* Tamaño de la fuente */
}

/* Contenedor y diseño del carrito de productos */
.container-cart-products {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: rgb(116, 116, 116);  /* Fondo gris */
  width: 300px;  /* Ancho del carrito */
  z-index: 1;  /* Asegura que el carrito se muestre por encima */
  border: 1px solid rgb(255, 255, 255);  /* Borde blanco */
  border-radius: 10px;  /* Bordes redondeados */
}

/* Fila de productos en el carrito */
.row-product {
  max-height: 400px;  /* Altura máxima */
  overflow-y: auto;  /* Agrega desplazamiento vertical si es necesario */
}

/* Producto en el carrito */
.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.20);  /* Borde inferior */
}

/* Información del producto en el carrito */
.info-cart-product {
  display: flex;
  justify-content: space-between;
  flex: 0.5;
}

.titulo-producto-carrito {
  font-size: 20px;
}

/* Cantidad de productos en el carrito */
.cantidad-producto-carrito {
  font-weight: 400;
  font-size: 20px;
  padding-right: 30px;
}

/* Estilo del icono de cerrar */
.icon-close {
  width: 20px;
  height: 20px;
}

.icon-close:hover {
  background-color: #000000;
  border-radius: 30%;
  cursor: pointer;  /* Cambia el cursor al pasar sobre el icono */
}

/* Total del carrito */
.cart-total {
  display: flex;
  justify-content: center;
  padding: 15px 5px;
  border-top: 1px solid white;  /* Borde superior */
}

.hidden-cart {
  display: none;
}

/* Contenedor del botón de compra */
.botton-wh {
  color: rgb(0, 0, 0);
  background-color: grey;
  border: 1px solid white;
  border-radius: 10px;
  width: 200px;
  height: 30px;
  font-weight: 600; 
}

.botton-wh:hover {
  cursor: pointer;
  scale: 1.05;  /* Aumenta ligeramente el tamaño al pasar el cursor */
}

/* Contenedor de los productos */
.products-container {
  display: grid;
  background-color: #000000;
  grid-template-columns: repeat(1, 1fr);  /* Disposición en una columna */
  gap: 30px;  /* Espaciado entre los productos */
}

.products-container h2 {
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 5%;
  font-size: 30px;
  font-weight: 800;
}

/* Estilo de los productos */
.product-content {
  padding: 30px;
}

.product {
  border-radius: 10px;
  border: 1px solid #ffffff;  /* Borde rojo */
  margin-bottom: 8%;
  height: auto;
  background-color: rgb(255, 255, 255);
}

.product:hover {
  box-shadow: 0px 1px 20px -8px rgb(0, 0, 0);  /* Sombra al pasar el cursor */
}

.product img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  user-select: none;  /* Desactiva la selección de la imagen */
}

.bton_display{
  display: none;
}

.bton_display p{
  margin: auto;
  margin-left: 15px;
}

/* Texto dentro del producto */
.product-txt {
  text-align: center;
  color: rgb(0, 0, 0);
}

.product-txt p {
  text-align: center;
  margin-bottom: 10px;
}

.product-txt h3 {
  margin-bottom: 20px;
}

/* Botón de agregar al carrito */
.btn-add-cart {
  display: flex;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  width: 150px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.btn-add-cart img {
  width: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.button-txt {
  margin: auto;
}

/* Estilos del footer */
.footer {
  display: flex;
  background: rgb(116, 116, 116);  /* Fondo gris */
}

.icon_footer {
  display: flex;
  width: 35px;
  height: auto;
}

.copyright {
  padding-left: 15px;
  padding-top: 10px;
  justify-content: space-between;
  align-items: center;
}

/* Responsivo 1000px */
@media screen and (min-width: 1000px) {
  /* Cabecera superior */
  .top-header {
    display: flex;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    height: 30px;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Sección izquierda del header */
  .left {
    margin-left: 2%;
  }

  /* WhatsApp Icono */
  .top_whatsapp img {
    width: 15px;
    height: auto;
  }

  .whatsapp {
    margin-right: 50px;
  }

  /* Llamada telefónica Icono */
  .top_call img {
    width: 15px;
    height: auto;
  }

  /* Sección derecha del header */
  .right {
    margin-right: 2%;
  }

  /* Envíos Icono */
  .top_envios img {
    width: 15px;
    height: auto;
  }
  
  /* Cabecera principal */
  .header {
    background-color: rgb(116, 116, 116);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* Iconos del header */
  .header_icon {
    display: flex;
    width: 55px;
    height: auto;
    margin: 2.0%;
    margin-top: 4.3%;
  }  

  /* Efecto hover en los iconos */
  .header_icon:hover {
    cursor: pointer;
    scale: 1.1;
  }

  /* Menú del header oculto */
  .header_menu {
    display: none;
  }

  /* Logo del header */
  .header_logo {
    color: #ffffff;
    font-size: 35px;
    font-weight: 900;
  }

  /* Carrito de compras en el header */
  .main_header_cart {
    display: flex;
    margin-top: 2.5%;
    margin-right: 3%;
  }

  /* Texto en el header */
  .text {
    display: flex;
    color: #ffffff;
    margin: auto;
    padding: 5%;
  }

  /* Número en el header */
  .number {
    display: flex;
    color: #ffffff;
    margin: auto;
  }

  /* Barra de navegación (invisible en escritorio) */
  .navbar {
    display: none;
  }

  /* Estilo para el buscador */
  .header_search {
  display: flex;
  background-color: rgb(116, 116, 116);
  margin: auto;
  align-items: center;
  }

  /* Botón de búsqueda */
  .btn-search {
    background-color: #ff0000;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
  }

  .btn-search img {
    width: 30px;
    height: auto;
  }

  /* Efecto hover sobre el botón de búsqueda */
  .btn-search img:hover {
    scale: 1.1;
  }

  /* Formulario de búsqueda */
  .search-form {
    position: relative;
    display: flex;
    margin: auto;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 2rem;
    background-color: rgb(255, 255, 255);
    height: 4.4rem;
    overflow: hidden;
    width: 30%;
    height: 20%;
    margin-bottom: 0.5%;
  }

  .search-form input {
    outline: none;
    border: none;
    width: 100%;
    font-size: 120%;
    color: #000000;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
  }

  .search-form input::-webkit-search-cancel-button {
    appearance: none;
  }
  
  /* Ocultar filtro de búsqueda */
  .filtro{
    display: none;
  }

  /* Barra de navegación de escritorio */
  .navbar-desk {
    display: flex;
    background-color: rgb(116, 116, 116);
    justify-content: space-between;
    padding-right: 400px;
    padding-left: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* Estilo para los elementos de la barra de navegación */
  .desk-list {
    font-size: 20px;
    font-weight: 600;
  }

  /* Efecto hover sobre los elementos de la barra de navegación */
  .desk-list:hover {
    cursor: pointer;
    scale: 1.2;
  }
  
  /* Estilo para la barra de navegación en fondo negro */
  .navbar-desk {
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    padding-right: 400px;
    padding-left: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: inset 0 -5px 10px rgba(255, 0, 0, 0.1); 
  }

  /* Estilo para los enlaces de la barra de navegación */
  .desk-list {
    padding-bottom: 3px;
    border-bottom: 2px solid red;
  }

  .desk-list:hover {
    color: #ff0000;
    border-bottom: none;
  }
  
  /* Estilo para el carrito de compras */
  .header_cart {
    width: 28px;
    height: auto;
    padding-right: 30px;
    padding-top: 20px;
  }

  .header_cart:hover {
    cursor: pointer;
    scale: 1.2;
  }

  /* Contenedor del icono del carrito */
  .container-icon {
    position: relative;
    height: 40px;
  }

  /* Contador de productos en el carrito */
  .count-products {
    position: absolute;
    display: flex;
    background-color: #000000;
    color: #ffffff;
    width: 20px;
    height: 20px;
    top: 100%;
    right: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  
  #contador-productos {
    font-size: 13px;
  }

  /* Productos en el carrito */
  .container-cart-products {
    position: absolute;
    top: 50px;
    right: 0;
  
    background-color: rgb(116, 116, 116);
    width: 450px;
    z-index: 1;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    
  }

  /* Fila de productos en el carrito */
  .row-product {
    max-height: 400px;
    overflow-y: auto; 
  }

  /* Estilo de los productos en el carrito */
  .cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
  }

  .info-cart-product {
    display: flex;
    justify-content: space-between;
    flex: 0;
  }

  /* Título del producto en el carrito */
  .titulo-producto-carrito {
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
  }

  .cantidad-producto-carrito {
    font-weight: 400;
    font-size: 20px;
    padding-right: 30px;
  }

  /* Icono de cerrar en el carrito */
  .icon-close {
    width: 20px;
    height: 20px;
  }

  .icon-close:hover {
    background-color: #000000;
    border-radius: 30%;
    cursor: pointer;
  }

  /* Total del carrito */
  .cart-total {
    display: flex;
    justify-content: center;
    padding: 15px 5px;
    border-top: 1px solid white;
  }

  /* Carrito oculto */
  .hidden-cart {
    display: none;
  }

  /* Botón de WhatsApp */
  .botton-wh {
    color: rgb(0, 0, 0);
    background-color: grey;
    border: 1px solid white;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    font-weight: 600; 
    }

  .botton-wh:hover {
    cursor: pointer;
    scale: 1.05;
    }

  /* Estilo de los productos en la página */
  .product-content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    align-items: center;
    margin: auto;
    width: 70%;
  }

  .product {
    height: 100%;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    display: relative;
  }

  .product:hover{
    box-shadow: 0px 1px 20px 0px rgb(255, 255, 255); /* Sombra al pasar el cursor */
  }

  .bton_display{
    display: none;
  }

  /* Estilo de las imágenes de los productos */
  .product img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    padding-left: 0%;
    padding-right: 0%;
    transition: transform 0.3s ease; /* Transición suave al cambiar de tamaño */
  }

  .product img:hover {
    transform: scale(1.3); /* Escalar la imagen a 1.5 veces su tamaño original */
    background-image: none;
  }
  
  /* Texto de los productos */
  .product-txt {
    margin-bottom: 0px;
  }

  .product-txt p {
    font-size: 15PX;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
  }

  .product-txt h3 {
    font-size: 130%;
    margin-bottom: 10px;
  }

  /* Botón de añadir al carrito */
  .btn-add-cart {
    display: flex;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    width: 150px;
    height: 50px;
    margin: auto;
    margin-right: 10px;
    margin-bottom: 10px;

  }

  .btn-add-cart:hover {
    cursor: pointer;
    scale: 1.03;
    box-shadow: 0px 1px 20px 0px rgb(0, 0, 0); /* Sombra al pasar el cursor */
  }

  .btn-add-cart img {
    width: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
  }

  .button-txt {
    margin: auto;
  }

  /* Estilo del pie de página */
  .footer {
    display: flex;
    background-color: rgb(116, 116, 116);
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}